form {
    margin: 1rem 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.pet-avatar {
    justify-self: center;
    max-height: 12rem;
    height: auto;
    width: auto;
    max-width: 14rem;
  }

.card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 33rem;
    display: inline-grid;
    
    margin: 1rem 2rem;
    box-shadow: 3px 4px #3717eb;
    background-color: #eeeeee;
    border-radius: 25px;
  }

.popup {
  text-align: left;
}

body {
  background-color: cornflowerblue;
}

#pet-header {
  display: flex;
  justify-content: center;
  background: #437193;
  opacity: .8;
  height: 11rem;
  padding: 1rem;
}

#pet-header img {
  max-height: 11rem;
  width: auto;
  justify-items: center;
}

div.form {
    display: block;
    text-align: center;
}

input[type=text] {
  width: 50%;
  padding: 5px 10px;
  border: 2px solid rgb(243, 1, 191);
  border-radius: 4px;
  background-color: #3CBC8D;
}

input[type=number] {
  width: 50%;
  padding: 5px 10px;
  border: 2px solid rgb(243, 1, 191);
  border-radius: 4px;
  background-color: #3CBC8D;
}

#filter-form{
  display: inline;
  
 
}